@import '../../style/common';

.btn {
  min-width: vwPC(120);
  height: vwPC(40);
  border-radius: vwPC(12);
  background: $defaultGradient;
  color: $baseFontColor;
  border: none;
  padding: vwPC(10) vwPC(20);
  font-size: vwPC(16);
  cursor: pointer;
  transition: background 0.5s ease;

  &:hover {
    background: $activeGradient;
  }

  @include phone-down() {
    min-width: vwMB(150);
    height: vwMB(40);
    border-radius: vwMB(12);
    font-size: vwMB(16);
    padding: vwMB(10) vwMB(20);
  }
}