@import '../../style/common';

.loaderWrapper {
  margin-top: vwPC(150);
  @include center();

  @include phone-down() {
    margin-top: vwMB(150);
  }
}

.modal_wrapper {
  display: flex;
  flex-direction: column;
  height: vwPC(520);
  overflow-y: auto;

  @include phone-down() {
    height: vwMB(200);
  }

  .hide {
    display: none;
  }

  .btn_wrapper {
    display: flex;
    justify-content: right;
    margin-top: vwPC(15);

    @include phone-down() {
      flex-direction: column;

      button {
        margin-top: vwMB(15);
      }
    }

    .cancel_btn {
      margin-right: vwPC(20);
      position: relative;
      background: none;
      border: vwPC(3) solid $red;
      @include center();

      &:hover {
        border: vwPC(3) solid transparent;
      }

      &:hover:before {
        content: "";
        position: absolute;
        top: vwPC(-2);
        right: vwPC(-2);
        bottom: vwPC(-2);
        left: vwPC(-2);
        border-radius: inherit;
        border: vwPC(3) solid $red;
        animation: heartbeat 1s infinite;
      }

      @keyframes heartbeat {
        0% {
          transform: scale(1);
          opacity: 1;
        }
        50% {
          transform: scale(1.1);
          opacity: 0.5;
        }
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

}
